
.carousel_cont{
    
    width: 100%;
}

.carousel_display{
    border:1px solid #E0E0E0;
    border-radius: 5px;
    position: relative;
    font-size: 1.5em;
    color:#bebebe;
    padding: 5px;
}

.carousel_display img{
    width: 100%;
    height: auto;
    max-width: 500px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
.carousel_display .prev{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
    cursor: pointer;
    user-select: none;
}
.carousel_display .next{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 10px;
    border-radius: 3px 0 0 3px;
    transition: 0.6s ease;
    cursor: pointer;
    display: flex;
    user-select: none;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.3);
  }
.carousel_items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.mySlides{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border: 1px solid #E0E0E0;
    padding: 5px;
    border-radius: 5px;
    object-fit: contain;
}
.mySlides:hover{
    border: 1px solid #00BFA5;
    cursor: pointer;
}
.active{
    border: 1px solid #00BFA5;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }